#school-analysis {

  .navbar a.active {
    color: white;
  }

  .shell-content {
    padding: 50px 15px;
  }

  .favorites-count {
    display: inline-flex;
    width: 18px;
    height: 18px;
    border-radius: 20%;

    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 12px;

    background-color: gold;

    margin-left: 6px;
  }
}
