@import "../../../../styles/variables";

div.school-suggestions-container {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  .react-autosuggest__container {
    position: absolute;

    @media (max-width: $screen-sm-min) {
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (min-width: $screen-sm-min) {
      width: 690px;
    }
    @media (min-width: $screen-md-min) {
      width: 910px;
    }
    @media (min-width: $screen-lg-min) {
      width: 1110px;
    }
  }

  .react-autosuggest__container--open .react-autosuggest__suggestions-container {
    height: 200px;
    overflow: auto;
    background-color: white;
  }

  input {
    font-size: 16px;
    line-height: 24px;
    padding-left: 5px;

    &:focus{
      outline: none;
    }
  }
}
