@import "../../../../styles/variables";

.school-details-container {

}

.school-detail-actions {
  display: inline-block;
  float: right;
}
.school-detail-action {
  display: inline;
  margin-left: 5px;
  color: darkgrey;

  &.starred-school {
    color: gold;
  }

  &:hover {
    cursor: pointer;
  }
}

.school-detail-general-info {
  margin-bottom: 30px;
}

.school-detail-demographics {
  display:inline-flex;
  flex-wrap: wrap;
}

.school-detail-performance {
  display:inline-flex;
  flex-wrap: wrap;
}
.school-detail {
  .panel-subtitle {
    color: darkgrey;
  }
}

.school-detail-type {
  text-transform: capitalize;
  margin-right: 8px;
}
